.view-pokemon-container {

    .attribute-card {
        border-radius: 0;
    }

    .attribute-header {
        font-size: 1.25rem;
    }

    .attribute-section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;

        .attribute-values {
            font-size: 0.8rem;
            padding: 0.5rem 1rem;
            margin: 0 0.25rem;
        }
    }
}